/BlackFriday.class
/EscriuMatriu1.class
/EscriuMatriu2.class
/SumaMatrius.class
/IndexofMatriu.class
/SumaFilesColumnes.class
/MaximMatriu.class
/Notes1.class
/Notes10.class
/ConsellEscolar.class
/MatriuIdentitat.class
/MatriuTransposada.class
/GatoenRaya.class
/Alfil.class
