/AnimalsJordina.class
/Bloodborne.class
/CambialoUnPoco.class
/CercaAproximada.class
/ComptarArrays.class
/EleccionsPatates.class
/EscalaReial.class
/EscriuArray1.class
/EscriuArray2.class
/EscriuArray4.class
/FormulaEuler.class
/IndexDe.class
/Macarrisme.class
/MultiplicahoTot.class
/OsShipeo.class
/ParchisParchis.class
/TeRecuerdasDe.class
