/AmanecerUltimoDia.class
/CalorcitoC4.class
/Correctesdiesany.class
/DiferenciaGranPetit2.class
/FelicitatAscendent.class
/Iron4.class
/PedraPaperTisora.class
/PokerDaus.class
/TorresBesones.class
/DobleBucleMes.class
/Ambrosio.class
/Artotzka.class
/Banana.class
/CompteEnrere.class
/Cuadrat.class
/DiguesPatata.class
/DobleBucle.class
/DonutsAmelia.class
/HarrisonFor.class
/IntervaldeNumeros.class
/Patats1.class
/Sumapatatas2.class
/TodosalaDerecha.class
/Tresporcinco.class
/ContadorDeNotas.class
/JordiWhile.class
/Bucles1.class
/JordiWhile2.class
/SumaParrellsSenars.class
/DobleBucle2.class
/ElMeuSegonBucle.class
