.contenedor1{
    margin: 1rem;
    justify-items: center;
    justify-content: center;
    border: solid red 5px;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.titulo{
    justify-items: center;
    justify-content: center;
}

.titulo h1{
    font-size: 3rem;
    color: indianred;
}

.contenedor1 form{
    justify-items: center;
    justify-content: center;
}

.imgcontainer img {
    border-radius: 5rem;
    margin: 1rem;
}
.container{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    gap: 1rem;
}

.menuboton{
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
}
.menuboton button{
    color: whitesmoke;
    background-color: indianred;
    height: 5rem;
    width: 10rem;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 15px;
    border: solid 15px indianred;
}