/EscriuUnDiccionari.class
/Capitals.class
/Salman1.class
/Salman2.class
/CercaPerValorDiccionari.class
/CampioProgramame.class
/DesiertoDelSinai.class
/ProblemesDiferencial.class
/ElPrimerArribiA5.class
