table,tr, th{
    border-collapse: collapse;

}

table{
    height: 400px;
    width: 400px;
    border: solid hotpink 5px;
    text-align: center;
}

th{
    background-color: black;
    color: white;
    font-size: 10px;
}

th, td{
    border: solid hotpink 3px;

}

td{
    background-color: white;
    font-size: 2em;
    align-content: center;
}
a{
    text-decoration: none;
    color: black;
}